[submodule "simpleini"]
	path = simpleini
	url = https://github.com/brofield/simpleini.git
[submodule "network-rgb-matrix-display"]
	path = network-rgb-matrix-display
	url = git@github.com:ModusCreateOrg/network-rgb-matrix-display.git
